In [93]:
## import all necessary library
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [94]:
# read loan.csv file from 
loan=pd.read_csv("/Users/shekher.r/upgrade/python/Juune-ML53/Lending_club_case_study/ravi/loan.csv")

In [87]:
## taking some insights of records
loan.head()
loan.shape
loan.info(verbose=True, show_counts=True)
loan.loan_status.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 111 columns):
 #    Column                          Non-Null Count  Dtype
---   ------                          --------------  -----
 0    id                              39717 non-null  int64
 1    member_id                       39717 non-null  int64
 2    loan_amnt                       39717 non-null  int64
 3    funded_amnt                     39717 non-null  int64
 4    funded_amnt_inv                 39717 non-null  float64
 5    term                            39717 non-null  object
 6    int_rate                        39717 non-null  object
 7    installment                     39717 non-null  float64
 8    grade                           39717 non-null  object
 9    sub_grade                       39717 non-null  object
 10   emp_title                       37258 non-null  object
 11   emp_length                      38642 non-null  object
 12   home_ownership                  39717 non-null  object
 13   annual_inc                      39717 non-null  float64
 14   verification_status             39717 non-null  object
 15   issue_d                         39717 non-null  object
 16   loan_status                     39717 non-null  object
 17   pymnt_plan                      39717 non-null  object
 18   url                             39717 non-null  object
 19   desc                            26777 non-null  object
 20   purpose                         39717 non-null  object
 21   title                           39706 non-null  object
 22   zip_code                        39717 non-null  object
 23   addr_state                      39717 non-null  object
 24   dti                             39717 non-null  float64
 25   delinq_2yrs                     39717 non-null  int64
 26   earliest_cr_line                39717 non-null  object
 27   inq_last_6mths                  39717 non-null  int64
 28   mths_since_last_delinq          14035 non-null  float64
 29   mths_since_last_record          2786 non-null   float64
 30   open_acc                        39717 non-null  int64
 31   pub_rec                         39717 non-null  int64
 32   revol_bal                       39717 non-null  int64
 33   revol_util                      39667 non-null  object
 34   total_acc                       39717 non-null  int64
 35   initial_list_status             39717 non-null  object
 36   out_prncp                       39717 non-null  float64
 37   out_prncp_inv                   39717 non-null  float64
 38   total_pymnt                     39717 non-null  float64
 39   total_pymnt_inv                 39717 non-null  float64
 40   total_rec_prncp                 39717 non-null  float64
 41   total_rec_int                   39717 non-null  float64
 42   total_rec_late_fee              39717 non-null  float64
 43   recoveries                      39717 non-null  float64
 44   collection_recovery_fee         39717 non-null  float64
 45   last_pymnt_d                    39646 non-null  object
 46   last_pymnt_amnt                 39717 non-null  float64
 47   next_pymnt_d                    1140 non-null   object
 48   last_credit_pull_d              39715 non-null  object
 49   collections_12_mths_ex_med      39661 non-null  float64
 50   mths_since_last_major_derog     0 non-null      float64
 51   policy_code                     39717 non-null  int64
 52   application_type                39717 non-null  object
 53   annual_inc_joint                0 non-null      float64
 54   dti_joint                       0 non-null      float64
 55   verification_status_joint       0 non-null      float64
 56   acc_now_delinq                  39717 non-null  int64
 57   tot_coll_amt                    0 non-null      float64
 58   tot_cur_bal                     0 non-null      float64
 59   open_acc_6m                     0 non-null      float64
 60   open_il_6m                      0 non-null      float64
 61   open_il_12m                     0 non-null      float64
 62   open_il_24m                     0 non-null      float64
 63   mths_since_rcnt_il              0 non-null      float64
 64   total_bal_il                    0 non-null      float64
 65   il_util                         0 non-null      float64
 66   open_rv_12m                     0 non-null      float64
 67   open_rv_24m                     0 non-null      float64
 68   max_bal_bc                      0 non-null      float64
 69   all_util                        0 non-null      float64
 70   total_rev_hi_lim                0 non-null      float64
 71   inq_fi                          0 non-null      float64
 72   total_cu_tl                     0 non-null      float64
 73   inq_last_12m                    0 non-null      float64
 74   acc_open_past_24mths            0 non-null      float64
 75   avg_cur_bal                     0 non-null      float64
 76   bc_open_to_buy                  0 non-null      float64
 77   bc_util                         0 non-null      float64
 78   chargeoff_within_12_mths        39661 non-null  float64
 79   delinq_amnt                     39717 non-null  int64
 80   mo_sin_old_il_acct              0 non-null      float64
 81   mo_sin_old_rev_tl_op            0 non-null      float64
 82   mo_sin_rcnt_rev_tl_op           0 non-null      float64
 83   mo_sin_rcnt_tl                  0 non-null      float64
 84   mort_acc                        0 non-null      float64
 85   mths_since_recent_bc            0 non-null      float64
 86   mths_since_recent_bc_dlq        0 non-null      float64
 87   mths_since_recent_inq           0 non-null      float64
 88   mths_since_recent_revol_delinq  0 non-null      float64
 89   num_accts_ever_120_pd           0 non-null      float64
 90   num_actv_bc_tl                  0 non-null      float64
 91   num_actv_rev_tl                 0 non-null      float64
 92   num_bc_sats                     0 non-null      float64
 93   num_bc_tl                       0 non-null      float64
 94   num_il_tl                       0 non-null      float64
 95   num_op_rev_tl                   0 non-null      float64
 96   num_rev_accts                   0 non-null      float64
 97   num_rev_tl_bal_gt_0             0 non-null      float64
 98   num_sats                        0 non-null      float64
 99   num_tl_120dpd_2m                0 non-null      float64
 100  num_tl_30dpd                    0 non-null      float64
 101  num_tl_90g_dpd_24m              0 non-null      float64
 102  num_tl_op_past_12m              0 non-null      float64
 103  pct_tl_nvr_dlq                  0 non-null      float64
 104  percent_bc_gt_75                0 non-null      float64
 105  pub_rec_bankruptcies            39020 non-null  float64
 106  tax_liens                       39678 non-null  float64
 107  tot_hi_cred_lim                 0 non-null      float64
 108  total_bal_ex_mort               0 non-null      float64
 109  total_bc_limit                  0 non-null      float64
 110  total_il_high_credit_limit      0 non-null      float64
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

Fully Paid     32950
Charged Off     5627
Current         1140
Name: loan_status, dtype: int64

In [88]:
## filtering out records which are Fully Paid or Charged Off as we cant say anything about loan which are currently running
loan_redord_anyls=loan[(loan.loan_status=='Fully Paid')|(loan.loan_status=='Charged Off')]

In [89]:
## comparing shapes of records after removing Current loan status records
print(loan.shape)
print(loan_redord_anyls.shape)

(39717, 111)
(38577, 111)

In [96]:
#loan_redord_anyls.info(verbose=True, show_counts=True)
#Remove columns that have 90% null values
drop_columns=loan_redord_anyls.columns[(loan_redord_anyls.isnull().sum()/len(loan_redord_anyls.index))>.9]
loan_redord_anyls_1=loan_redord_anyls.drop(drop_columns,axis=1)
print(loan_redord_anyls_1.isnull().sum())
loan_redord_anyls_1.info()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2386
emp_length                     1033
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12527
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        24905
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 38577 entries, 0 to 39716
Data columns (total 55 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          38577 non-null  int64
 1   member_id                   38577 non-null  int64
 2   loan_amnt                   38577 non-null  int64
 3   funded_amnt                 38577 non-null  int64
 4   funded_amnt_inv             38577 non-null  float64
 5   term                        38577 non-null  object
 6   int_rate                    38577 non-null  object
 7   installment                 38577 non-null  float64
 8   grade                       38577 non-null  object
 9   sub_grade                   38577 non-null  object
 10  emp_title                   36191 non-null  object
 11  emp_length                  37544 non-null  object
 12  home_ownership              38577 non-null  object
 13  annual_inc                  38577 non-null  float64
 14  verification_status         38577 non-null  object
 15  issue_d                     38577 non-null  object
 16  loan_status                 38577 non-null  object
 17  pymnt_plan                  38577 non-null  object
 18  url                         38577 non-null  object
 19  desc                        26050 non-null  object
 20  purpose                     38577 non-null  object
 21  title                       38566 non-null  object
 22  zip_code                    38577 non-null  object
 23  addr_state                  38577 non-null  object
 24  dti                         38577 non-null  float64
 25  delinq_2yrs                 38577 non-null  int64
 26  earliest_cr_line            38577 non-null  object
 27  inq_last_6mths              38577 non-null  int64
 28  mths_since_last_delinq      13672 non-null  float64
 29  open_acc                    38577 non-null  int64
 30  pub_rec                     38577 non-null  int64
 31  revol_bal                   38577 non-null  int64
 32  revol_util                  38527 non-null  object
 33  total_acc                   38577 non-null  int64
 34  initial_list_status         38577 non-null  object
 35  out_prncp                   38577 non-null  float64
 36  out_prncp_inv               38577 non-null  float64
 37  total_pymnt                 38577 non-null  float64
 38  total_pymnt_inv             38577 non-null  float64
 39  total_rec_prncp             38577 non-null  float64
 40  total_rec_int               38577 non-null  float64
 41  total_rec_late_fee          38577 non-null  float64
 42  recoveries                  38577 non-null  float64
 43  collection_recovery_fee     38577 non-null  float64
 44  last_pymnt_d                38506 non-null  object
 45  last_pymnt_amnt             38577 non-null  float64
 46  last_credit_pull_d          38575 non-null  object
 47  collections_12_mths_ex_med  38521 non-null  float64
 48  policy_code                 38577 non-null  int64
 49  application_type            38577 non-null  object
 50  acc_now_delinq              38577 non-null  int64
 51  chargeoff_within_12_mths    38521 non-null  float64
 52  delinq_amnt                 38577 non-null  int64
 53  pub_rec_bankruptcies        37880 non-null  float64
 54  tax_liens                   38538 non-null  float64
dtypes: float64(19), int64(13), object(23)
memory usage: 16.5+ MB

In [97]:
## remove columns id,member_id,desc
loan_redord_anyls_1.head(2)
loan_redord_anyls_2=loan_redord_anyls_1.drop(["id","member_id","desc"],axis=1)
print(loan.shape)
print(loan_redord_anyls_2.shape)

(39717, 111)
(38577, 52)

In [113]:
## remove records that have more than 5 columns missing
pd.set_option('display.max_columns', None)
loan_redord_anyls_3=loan_redord_anyls_2[~(loan_redord_anyls_2.isnull().sum(axis=1)>5)]
loan_redord_anyls_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38575 entries, 0 to 39716
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   38575 non-null  int64
 1   funded_amnt                 38575 non-null  int64
 2   funded_amnt_inv             38575 non-null  float64
 3   term                        38575 non-null  object
 4   int_rate                    38575 non-null  object
 5   installment                 38575 non-null  float64
 6   grade                       38575 non-null  object
 7   sub_grade                   38575 non-null  object
 8   emp_title                   36191 non-null  object
 9   emp_length                  37542 non-null  object
 10  home_ownership              38575 non-null  object
 11  annual_inc                  38575 non-null  float64
 12  verification_status         38575 non-null  object
 13  issue_d                     38575 non-null  object
 14  loan_status                 38575 non-null  object
 15  pymnt_plan                  38575 non-null  object
 16  url                         38575 non-null  object
 17  purpose                     38575 non-null  object
 18  title                       38564 non-null  object
 19  zip_code                    38575 non-null  object
 20  addr_state                  38575 non-null  object
 21  dti                         38575 non-null  float64
 22  delinq_2yrs                 38575 non-null  int64
 23  earliest_cr_line            38575 non-null  object
 24  inq_last_6mths              38575 non-null  int64
 25  mths_since_last_delinq      13672 non-null  float64
 26  open_acc                    38575 non-null  int64
 27  pub_rec                     38575 non-null  int64
 28  revol_bal                   38575 non-null  int64
 29  revol_util                  38525 non-null  object
 30  total_acc                   38575 non-null  int64
 31  initial_list_status         38575 non-null  object
 32  out_prncp                   38575 non-null  float64
 33  out_prncp_inv               38575 non-null  float64
 34  total_pymnt                 38575 non-null  float64
 35  total_pymnt_inv             38575 non-null  float64
 36  total_rec_prncp             38575 non-null  float64
 37  total_rec_int               38575 non-null  float64
 38  total_rec_late_fee          38575 non-null  float64
 39  recoveries                  38575 non-null  float64
 40  collection_recovery_fee     38575 non-null  float64
 41  last_pymnt_d                38504 non-null  object
 42  last_pymnt_amnt             38575 non-null  float64
 43  last_credit_pull_d          38573 non-null  object
 44  collections_12_mths_ex_med  38521 non-null  float64
 45  policy_code                 38575 non-null  int64
 46  application_type            38575 non-null  object
 47  acc_now_delinq              38575 non-null  int64
 48  chargeoff_within_12_mths    38521 non-null  float64
 49  delinq_amnt                 38575 non-null  int64
 50  pub_rec_bankruptcies        37880 non-null  float64
 51  tax_liens                   38538 non-null  float64
dtypes: float64(19), int64(11), object(22)
memory usage: 15.6+ MB

In [117]:
## change data type of column
loan_redord_anyls_3['term'].head()
loan_redord_anyls_3['term']=loan_redord_anyls_3['term'].apply(lambda x:int(x.replace(' months','')))
loan_redord_anyls_3['term']=loan_redord_anyls_3['term'].apply(lambda x:int(x.replace(' months','')))

/var/folders/8c/82t91qxx77x0n9h3xtznbr8r0000gq/T/ipykernel_84649/3912267848.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_redord_anyls_3['term']=loan_redord_anyls_3['term'].apply(lambda x:int(x.replace(' months','')))

In [118]:
loan_redord_anyls_3['term'].head()

0    36
1    60
2    36
3    36
5    36
Name: term, dtype: int64